div.row {
  background-color: black;
}

h1 {
  color: gold;
}

strong {
  color: gold;
}

h3 {
  color: gold
}

label {
  color: gold
}

html {
  background-color: black;
}

div {
  position: center;
}